* {
    margin: 5px;
    /* padding: 0; */
    box-sizing: border-box;
}

header {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

header p {
    font-size: 20px;
    color: gray;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
}

.pad1 {
    display: flex;
    height: 100px;
    width: 100px;
    background: lightgreen;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.pad2 {
    display: flex;
    height: 100px;
    width: 100px;
    background: lightpink;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.pad3 {
    display: flex;
    height: 100px;
    width: 100px;
    background: lightsalmon;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.pad4 {
    display: flex;
    height: 100px;
    width: 100px;
    background: lightseagreen;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.pad5 {
    display: flex;
    height: 100px;
    width: 100px;
    background: lightskyblue;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.pad6 {
    display: flex;
    height: 100px;
    width: 100px;
    background: lightcoral;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}